@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,600;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --text-color: #f5f5f5;
  --hover-color: #12f7ff;
  --bg-color: #142837;
  --secon-bg-color: #292e33;
  --big-font: 2.5rem;
  --normal-font: 2rem;
  --neon-box-shadow: 0 0 .5rem #12f7ff;
  --h2-font: 6rem;
  --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
  0 0 20px rgba(18, 247, 255, 0.6),
  0 0 60px rgba(18, 247, 255, 0.6),
  0 0 40px rgba(18, 247, 255, 0.6),
  0 0 70px rgba(18, 247, 255, 0.6),
  0 0 80px rgba(18, 247, 255, 0.6),
  0 0 100px rgba(18, 247, 255, 0.6),
  0 0 150px rgba(18, 247, 255, 0.6);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10%;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1px;
}

span {
  color: var(--hover-color);
}

.navList {
  display: flex;
}


.navList a{
  color: var(--text-color);
  font-weight: 700;
  padding: 10px 20px;
}

.navList a:hover{
  color: var(--hover-color);
  font-weight: 700;
  padding: 10px 20px;
  text-shadow:  0 0 10px rgba(18, 247, 255, 0.6),
  0 0 20px rgba(18, 247, 255, 0.6),
  0 0 60px rgba(18, 247, 255, 0.6),
  0 0 40px rgba(18, 247, 255, 0.6),
  0 0 70px rgba(18, 247, 255, 0.6),
  0 0 80px rgba(18, 247, 255, 0.6),
  0 0 100px rgba(18, 247, 255, 0.6),
  0 0 150px rgba(18, 247, 255, 0.6);
}

#menu-icon {
  font-size: 1.8rem;
  z-index: 10001;
  cursor: pointer;
  margin-left: 25px;
  background: var(--hover-color);
  border-radius: 3px;
  color: var(--secon-bg-color);
  display: none;
}

/* Home Section */

section {
  padding: 100px 10%;
}

.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  grid-gap: 4em;
}

.home-content {
  min-width: 600px;
}

.home-content h1 {
  font-size: var(--big-font);
  font-weight: 700;
}

.change-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.change-text h3 {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
  /* padding-bottom: 5px; */
}

.change-text span .word{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: animate 4s steps(12) infinite;
}

@keyframes animate{
  40%, 60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}


/* .change-text h3 .word .letter{
  transform-origin: center center 25px;
}

.change-text h3 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.3s cubic-bezier(0.6,0,0.7,0.2);
}

.change-text h3 .word .letter.in {
  transition: 0.38s ease;
}


.change-text h3 .word .letter.behind{
  transform: rotateX(-90deg);
} */

.home-content p {
  color: #bdbdbd;
  line-height: 1.6;
  padding: 5px 0 5px 0;
  margin-bottom: 10px;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 45px;
}


.btn-box a.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--hover-color);
  color: var(--bg-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: .6s;
  box-shadow: var(--neon-box-shadow);
  border-radius: 5px;
  position: relative;overflow: hidden;
  z-index: 1;
  border: 1px solid var(--hover-color);
}

a.btn:hover {
  color: var(--hover-color);
}

a.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 4s;
}

a.btn:hover::before {
  width: 100%;
}

a.btn:nth-child(2) {
  background: var(--bg-color);
  color: var(--hover-color);
}

a.btn:nth-child(2):hover {
  color: var(--bg-color);
}

a.btn:nth-child(2)::before {
  background: var(--hover-color);
}

.social-icons {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  width: 220px;
  height: 40px;
}

.social-icons a {
  display: inline-flex;
  width: 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--hover-color);
  border: 2px solid var(--hover-color);
  transition: .6s;
  box-shadow: 0 0 0.3 #12f7ff;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.social-icons a i {
  font-size: 1.5rem;
}


.social-icons a:hover{
  color: var(--bg-color);
}


.social-icons a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--hover-color);
  transition: .6s;
  z-index: -1;
}

.social-icons a:hover::before {
  width: 100%;
}

.home-image {
  position: relative;
}

.img-box {
  text-align: right;
}

.img-box img{
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 25px;
  border: 6px solid var(--hover-color);
  z-index: -1;
  top: 10%;
  box-shadow:  0 0 10px rgba(18, 237, 245, 0.3),
  0 0 20px rgba(18, 237, 245, 0.3),
  0 0 60px rgba(18, 237, 245, 0.3),
  0 0 40px rgba(18,237, 245, 0.3),
  0 0 70px rgba(18, 237, 245, 0.3),
  0 0 80px rgba(18, 237, 245, 0.3),
  0 0 100px rgba(18,237, 245, 0.3),
  0 0 150px rgba(18, 237, 245, 0.3);
}
/* 
About Section */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 2em;
  background: var(--secon-bg-color);
}

.about .img-about {
  text-align: center;
  position: relative;
}

.about .img-box img{
  min-width: 400px;
  height: auto;
  background-color:  #6a6d70;
}

.about .img-box {
  padding-right: 10%;
}

.about-content {
  margin-bottom: .4em;
}



.about-content span {
  color: #fdfdfd;
  font-size: .8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-content h2 {
  color: var(--hover-color);
  font-weight: 700;
  font-size: var(--normal-font);
}

.about-content h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: .2em;
}


.about-content p {
  font-weight: 300;
  color: #fdfdfd;
  margin-bottom: 1.5rem;
}


/* Services Section */

.main-text {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--hover-color);
}

.main-text h2 {
  font-weight: 700;
  font-size: var(--normal-font);
}

.main-text span {
  color: #fdfdfd;
  font-size: .8rem;
  font-weight: 200;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section_services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 2rem;
}

.section_services .service-box {
  flex:  1 1 18rem;
  padding: 2rem 1rem 2rem;
  text-align: center;
  background: var(--secon-bg-color);
  transition: transform .4s;
  border-radius: 10px;
}

.service-btn {
  width: auto;
  justify-content: center;
}
.service-box:hover {
 transform: translateY(-.7rem);
}

.service-icon {
  border: 2px solid var(--hover-color);
  padding: 2rem;
  background: var(--bg-color);
  align-items: center;
  font-size: 3rem;
  border-radius: 50%;
  position: relative;
  color: var(--hover-color);
  box-shadow: var(--neon-box-shadow);
  outline: 3px solid var(--bg-color);
}

.service-box h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.service-box p {
 margin: .5rem 0 1.5rem 0;  
 font-weight: 300;
 letter-spacing: 1px;
 color: #bdbdbd;
 line-height: 1.6;
}

/* Skills Section */

.skills{
  background: var(--secon-bg-color);
}

.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 30px;
  grid-column-gap: 50px;
}

.skill-bar {
  margin-bottom: 2.3rem;
}

.skill-main h3 {
  margin-bottom: 2rem;
  font-size: var(--normal-font);
  text-align: center;
}

/* skill-left */

.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px ;
}

.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--bg-color);
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--hover-color);
  border-radius: 25px;
  box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .html {
  width: 85%;
  animation: html 2s;
}

.skill-bar .bar .css {
  width: 62%;
  animation: css 3s;
}

.skill-bar .bar .bootstrap {
  width: 77%;
  animation: bootstrap 4s;
}

.skill-bar .bar .figma {
  width: 79%;
  animation: figma 5s;
}

.skill-bar .bar .javascript {
  width: 57%;
  animation: javascript 6s;
}

.skill-bar .bar .react-js {
  width: 52%;
  animation: react-js 7s;
}

/* skill-right */

.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box {
  position: relative;
  margin: 10px 0;
  flex: 1 1 15rem;
}

.box .text {
  text-align: center;
  color: #fff;
  font-size: 1rem;
}

.box .text big {
  font-weight: 400;
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.box .text small {
  display: block;
  font-weight: 600;
}

.circle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
}

.circle .points {
  width: 2px;
  height: 10px;
  border-color: var(--bg-color);
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i)*0.05s);
}




@keyframes html {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}

@keyframes css {
  0% {
    width: 0;
  }
  
  100% {
    width: 62%;
  }
}

@keyframes bootstrap {
  0% {
    width: 0;
  }
  
  100% {
    width: 77%;
  }
}

@keyframes figma {
  0% {
    width: 0;
  }
  
  100% {
    width: 79%;
  }
}

@keyframes javascript {
  0% {
    width: 0;
  }
  
  100% {
    width: 57%;
  }
}

@keyframes react-js {
  0% {
    width: 0;
  }
  
  100% {
    width: 52%;
  }
}

@keyframes glow {
  0% {
    background: var(--bg-color);
    box-shadow: none;
  }
  100% {
    background: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
  }
}